@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/bg-desktop.svg');
  background-color:  hsl(257, 40%, 49%);
  height: 100vh;

}

.container {
  height: 100%;
  padding: 2rem 3rem;
}

.inner {
  display: flex;
}

